<div class="header-container">
  <div class="left-content">
    <mat-form-field>
      <mat-label>Select a Program / Course</mat-label>
      <mat-select (selectionChange)="onSelectedParentChange($event)">
        <mat-option [value]="{ id: '', type: '' }">
          All
        </mat-option>
        <mat-option *ngFor="let parent of parentList" [value]="parent">
          {{ getParentName(parent) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="right-content">
    <mat-slide-toggle (change)="toggleView()">
      {{ showTimeline ? 'Switch to Intake Table' : 'Switch to Timeline' }}
    </mat-slide-toggle>
  </div>
</div>

<div [ngSwitch]="showTimeline">
  <app-timeline-table 
    *ngSwitchCase="true"
    [subProgrammeList]="timelineDataset" 
    [semesters]="semesters">
  </app-timeline-table>

  <app-intake-table 
    *ngSwitchCase="false">
  </app-intake-table>
</div>

<br/>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
    <mat-tab label="Create Group">
        <app-create-group [parentId]="selectedParentId" [parentType]="selectedParentType" (refreshTimeline)="onRefreshTimeline()"></app-create-group>
    </mat-tab>
    <mat-tab label="Create Intake">
        <app-create-intake [parentId]="selectedParentId" [parentType]="selectedParentType" [parentCode]="selectedParentCode" (refreshTimeline)="onRefreshTimeline()"></app-create-intake>
    </mat-tab>
    <mat-tab label="Create Semester">
        <app-create-semester [parentId]="selectedParentId" [parentType]="selectedParentType" [numberOfSemesters]="semesterNumbers" (refreshTimeline)="onRefreshTimeline()"></app-create-semester>
    </mat-tab>
    <mat-tab label="Edit Semester">
        <app-edit-semester [parentId]="selectedParentId" [parentType]="selectedParentType" [numberOfSemesters]="semesterNumbers"></app-edit-semester>
    </mat-tab>
</mat-tab-group>